<div class="container">
    <br />
    <div class="row">
      <div class="col">
        <h3>Employees List</h3>
      </div>
      <div class="col text-right">
        <a href="#" routerLink="/addemployee/" class="btn btn-success btn-sm">Create New</a>
      </div>
    </div>
    <br />
    <table class="table table-bordered table-sm">
      <tr>
        <th>Sr.no</th>        
        <th>Name</th>
        <th>Address</th>
        <th>Designation</th>            
        <th>Salary</th>
        <th width="200px">Actions</th>
      </tr>
      <tr *ngFor="let emp of employee;let i=index;">
        <td>{{ i+1 }}</td>
        <td>{{ emp.empName }}</td>
        <td>{{ emp.addess }}</td>
        <td>{{ emp.desgId }}</td>
        <td>{{ emp.salary }}</td>
      
        <td class="text-right">
          <a href="#" [routerLink]="['/employee/', emp.empId, 'details']" class="btn btn-info btn-sm">View</a> 
          <a href="#" [routerLink]="['/employee/', emp.empId, 'edit']" class="btn btn-primary btn-sm">Edit</a> 
          <button type="button" (click)="deleteEmployee(emp.empId)" class="btn btn-danger btn-sm">Delete</button> 
        </td>
      </tr>
    </table>
  </div>
