<div class="container">
    <br />
    <h3>Employee Details</h3>
    <br />
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <h4>{{ employee.empName }}</h4>
          </div>
          <div class="col text-right">
            <a href="#" routerLink="/employees" class="btn btn-secondary btn-sm">Back To Employees List</a>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Id:</b> {{ employee.empId }}</li>
        <li class="list-group-item"><b>Employee Name:</b> {{ employee.empName }}</li>
        <li class="list-group-item"><b>Address:</b> {{ employee.addess }}</li>
        <li class="list-group-item"><b>Designation:</b> {{ employee.desgId }}</li>
        <li class="list-group-item"><b>Salary:</b> {{ employee.salary }}</li>
      </ul>
    </div>
  </div>